.addbutton {
  position: relative;
  left: 160px;
  bottom: -5px;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 80px;
  color: rgba(93, 252, 204, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  font-size: 30px;
  border-radius: 10px;
  position: relative;
  left: -180px;
}

.cheakFilter{
  font-size: 30px;
  border-radius: 10px;
  position: relative;
  left: -316px;
  top: 60px;
}

